.header {
    font-size: 16px;
    height : 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom : 0.1px solid #f3f4f5;
}
.logo {
    height: 4.5vh;
    padding-left: 3.5vw;
}

.nav-list {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color : black;
}
.nav-list:hover {
    font-size:bold;
}

.rt-nav{
    padding-right: 3.5vw;
}

.music{
    padding-left: 15px;
    text-decoration: none;
    color : black;
}

.header span {
    color : gray;
    font-size : x-small;
    padding-bottom: 70px;
}

/* top 버튼 */
.scroll-box{
    position: fixed;
    right: 5%;
    bottom :5%;
    z-index: 1;
}

.top-btn{
    font-weight: bold;
    font-size: 15px;
    padding: 15px 10px;
    background-color: #000;
    color:#fff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}