.title-box{
    flex-direction: column;
    padding-top: 22vh;
}
.partone-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 35px;
}
.partone-sub-title{
    display: flex;
    justify-content: center;
    padding: 13px;
}