.footer {
    font-family: 'Noto Sans KR';
    font-size: 16px;
    color: #37373a;
    letter-spacing: -.02em;
    padding-top: 60px;
    padding-right: 24px;
    padding-bottom: 85px;
    padding-left: 24px;
    background-color: #f3f4f5;
    height: 494px;
}

.footer-nav{
    display: flex;
    justify-content: center;
}

.footer-nav-bottom{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
}

.footer-nav-item{
    width: 187px;
    height: 176px;
    margin-top: 8px;
    padding-right: 8px;
    line-height: 1.4;
    line-height:1.8em;
}

.footer-nav-item li{
    list-style: none;
    color : gray;
    font-size: 14px;
}