.header {
    font-size: 16px;
    height : 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom : 0.1px solid #f3f4f5;
}
.logo {
    height: 3.2vh;
    padding-left: 12.5vw;
}

.nav-list {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color : black;
}
.nav-list:hover {
    font-size:bold;
}

.rt-nav{
    padding-right: 200px;
}

.music{
    padding-left: 15px;
    text-decoration: none;
    color : black;
}

.header span {
    color : gray;
    font-size : x-small;
    padding-bottom: 70px;
}
